%h2 New Artworks (#{@new_artworks.size} items)

%table
  %tr
    %th Name
    %th Tags

  - @new_artworks.each do |new_art|
    %tr
      %td
        = new_art.name
      %td
        = new_art.tags

%h2 New Merchandise (#{@new_merchandises.size} items)

%table
  %tr
    %th Artwork
    %th Merch Name
    %th Tags

  - @new_merchandises.each do |new_merch|
    %tr
      %td
        = new_merch.artwork.name
      %td
        = new_merch.name
      %td
        = new_merch.tags

%h2 Inventory List at #{@event.name}
%ul
  - @inventory_list.each do |inventory_item|
    %li= MerchandiseDecorator.new(inventory_item.merchandise).full_name

= render 'confirm_import_sales/form'
