= form_for(@event) do |f|
  .form-group
    = f.label :name, class: 'col-sm-2'
    = f.text_field :name
  .form-group
    = f.label :started_at, 'Started At', class: 'col-sm-2'
    = f.text_field :started_at, data: { provide: 'datepicker' }
  .form-group
    = f.label :ended_at, 'Ended At', class: 'col-sm-2'
    = f.text_field :ended_at, data: { provide: 'datepicker' }
  .form-group
    = f.label :tags, class: 'col-sm-2'
    = f.text_field :tags
    .help-block.col-sm-offset-2
      Enter comma seperated values
  .form-group
    = f.submit
