- if @event.errors.any?
  %p
    = @event.errors.inspect
= simple_form_for(@event, wrapper: 'vertical_form') do |f|
  .form-group
    = f.input :name
  .form-group
    = f.input :started_at, as: :tempus_dominus

  .form-group
    = f.input :duration, input_html: { type: :number }
  .form-group
    = f.input :tags, as: :tag_filter

  .form-group
    - if local_assigns[:cancel_button]
      %button.btn.btn-secondary{data: {dismiss: :modal}} Cancel
    = f.submit class: 'btn btn-primary'

