- if @event.errors.any?
  %p
    = @event.errors.inspect
= form_for(@event) do |f|
  = f.text_field :name
  = f.calendar_field :started_at
  = f.number_field :duration
  = f.tag_filter_field :tags

  .form-group
    - if local_assigns[:cancel_button]
      %button.btn.btn-secondary{data: {dismiss: :modal}} Cancel
    = f.submit class: 'btn btn-primary'

