%table.table.table-bordered.table-hover
  %tr
    %th Name
    %th Dates
  - @events.each do |event|
    %tr
      %td
        = link_to event.name, event_path(event)
      %td
        = "#{l(event.started_at)} - #{event.ended_at}"


#new-event-modal.modal{tabindex: -1, role: :dialog, aria: {hidden: true, labelledby: 'new-event-modal-title'}}
  .modal-dialog{role: :document}
    .modal-content
      .modal-header
        %h5#new-event-modal-title.modal-title New Event
        %button.close{data: {dismiss: :modal}, aria: {label: 'Cancel'}}
          %span{aria: {hidden: true}} &times;
      .modal-body
        = render 'form', cancel_button: :modal

- content_for :sidebar do
  %h4 Events
  %button.btn.btn-primary{data: {toggle: :modal, target: '#new-event-modal'}} New Event

