.container-fluid.navbar-offset.py-3
  .row.my-3
    .col-6
      %h2.text-capitalize= @event.name
    .col-6.text-right.align-bottom
      %h5= date_range(@event.time_period)

  -# Needs to be improved as datasets get bigger cause retired items are still shown
  -#.row
  -#  .col-xs-5
  -#    %table.table.table-bordered.table-hover.table-condensed
  -#      %tr
  -#        %th
  -#        - @merchandise_names.each do |merch_name|
  -#          %th= merch_name
  -#      - @artwork_names.each do |artwork_name|
  -#        %tr
  -#          %th= artwork_name

  -#          - @merchandise_names.each do |merch_name|
  -#            %td= @art_merch_to_sold_count[[merch_name, artwork_name]]

  .row.my-5
    #all-items-chart.col-12
      = column_chart @merch_quantities, width: '100%', height: '350px', title: 'Sales by Merchandise Type', ytitle: 'Quantity of Items', xtitle: 'Merchandise'

  .row.my-3
    #totals-by-merch-type.col-sm-6
      = column_chart @totals_by_merch_type, title: 'Items Sold by Merchandise Type', height: '350px'

    #totals-by-day.col-sm-6
      = column_chart @totals_by_day, title: 'Items Sold Per Day', height: '350px'
