- content_for :sidebar do
  .nav-item
    %h4 Customize Graph

    = form_for(@controls, url: paired_artworks_path) do |f|
      %label.control-label
      = f.tag_filter_field :artwork_tag_filter_a_root # **sf_tooltip_hash(i18n: 'artwork_pairing_controls.artwork_tag_filter_a_root')

      = f.tag_filter_field :artwork_tag_filter_a_other # **sf_tooltip_hash(i18n: 'artwork_pairing_controls.artwork_tag_filter_a_other')

      = f.tag_filter_field :event_tag_filter # **sf_tooltip_hash(i18n: 'artwork_pairing_controls.event_tag_filter')

      -# = f.calendar_field :date_after,
      -#   label_icon: 'step-backward'

      -# = f.calendar_field :date_before,
      -#   label_icon: 'step-forward'

      = f.number_field :minimum_pairing_frequency # **sf_tooltip_hash(i18n: 'artwork_pairing_controls.minimum_pairing_frequency')

      = f.submit 'Refresh', class: 'btn btn-primary'

#chartrow.row
  #chart.with-3d-shadow.with-transitions
    %svg

:javascript

    var chart;
    nv.addGraph(function() {
        chart = nv.models.sunburstChart();
        chart.color(d3.scale.category20c());
        chart.mode("value");
        chart.showLabels(true);
        chart.labelThreshold(0.05);
        chart.sort(function(d1, d2){console.log(d1.value); return d1.value > d2.value;});
        nv.utils.windowResize(chart.update);
        d3.select("#chart svg")
                .datum(gon.data)
                .call(chart);
        return chart;
    });
