%svg

- content_for :sidebar do
  .nav-item
    %h4 Customize Graph

  = form_for(@controls, url: events_charts_path, wrapper: 'vertical_form', html: {novalidate: true}) do |f|

    -# label_icon: 'ruler',
    = f.select_field :metric, nil,
      { include_blank: false, label_icon: 'ruler'},
      { class: 'custom-select' }

    = f.toggle_field :grouping,
        label_icon: 'layer-group'

    = f.toggle_field :ordering,
        label_icon: 'sort'

    = f.calendar_field :date_after,
      label_icon: 'step-backward'

    = f.calendar_field :date_before,
      label_icon: 'step-forward'

    = f.submit 'Refresh', class: 'btn btn-primary'


:javascript
   var chart;
   nv.addGraph(function() {
       chart = nv.models.multiBarChart()
           .x(function(d) { return d.label; })
           .y(function(d) { return +d.value; })
           .duration(300)
           .margin({bottom: 100, left: 70})
           .rotateLabels(45)
           .groupSpacing(0.1)
       ;
       chart.reduceXTicks(false).staggerLabels(true);
       chart.xAxis
           .axisLabel("Days of the Week")
           .axisLabelDistance(35)
           .showMaxMin(false)
       ;
       chart.yAxis
           .axisLabel("Revenue")
           .axisLabelDistance(-5)
           .tickFormat(d3.format(',.01f'))
       ;
       chart.dispatch.on('renderEnd', function(){
           nv.log('Render Complete');
       });
       d3.select('#chart svg')
           .datum(gon.data)
           .call(chart);
       nv.utils.windowResize(chart.update);
       return chart;
   });
